[submodule "electrical/PressurePulse_Brain-PCB"]
	path = electrical/PressurePulse_Brain-PCB
	url = git@github.com:Markahofmeister/PressurePulse_Brain-PCB.git

[submodule "electrical/PressurePulse_Pulse-PCB"]
	path = electrical/PressurePulse_Pulse-PCB
	url = git@github.com:Markahofmeister/PressurePulse_Pulse-PCB.git
